/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the header */
header {
    background-color: #007ACC;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
    background-color: #007ACC;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h2, h3 {
    color: #007ACC;
}
/* Style the footer */
footer {
    text-align: center;
    background-color: #007ACC;
    color: white;
    padding: 10px;
}

/* Define a fade-in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Define a fade-out animation */
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Apply transitions to elements */
.transition-fade-in {
    animation: fade-in 1.5s ease-in-out;
}

.transition-fade-out {
    animation: fade-out 1.5s ease-in-out;
}

/* Animated Element Moving Across the Page */
.moving-element {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    animation: moveRight 4s linear infinite alternate;
}

@keyframes moveRight {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 50px);
    }
}